<a href="https://colab.research.google.com/github/VaNeila/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variable

In [ ]:
x = float(1) 
a, b = 0, -1
a, b, c = "Neil", "Tristan", "Cute"

print('This a sample')
print(a)
print(c)

This a sample
Neil
Cute

Casting

In [ ]:
print(x)

1.0

Type() Function

In [ ]:
y = "Tristan"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [ ]:
h= "Neil"
v= 1
V= 2

print(h)
print(v)
print(v+1)

Neil
1
2

Multiple Variables

In [ ]:
x,y,z="one", "two", "Three"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
Three
one two Three

One Value to Multiple Variables

In [ ]:
x = y = z ="Tristan"
print(x,y,z)

Tristan Tristan Tristan

Output Variables

In [ ]:
x= "exciting"

print("Python is " + x)

x = "Hello"
y = "World"

print(x+""+" "+y)

Python is exciting
Hello World

Arithmetic Operations

In [ ]:
f = 1
g = 2
i = 6

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

3
-1
6
3
1.5
1
1
729

Assignment Operators

In [ ]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Boolean Operators

In [11]:
k=2
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

0
8

Relational Operators

In [12]:
print(v>k) #v=1, k=2

print(v==k)

False
False

Logical Operations

In [13]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Logical Operators

In [14]:
print(v is k)
print(v is not k)

False
True