<a href="https://colab.research.google.com/github/VaNeila/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
a = 7
b = 10


print(10>9)

True

Bool

In [ ]:
print(bool("Neil"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(True))
print(bool(False))

True
True
False
False
True
False

Functions can return a boolean

In [9]:
def my_Function():
  return True

print(my_Function())

True

In [10]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [11]:
a = 6
b = 7
print(10>9)
print(a==b)
print(a!=a)

True
False
False

Python Operators

In [12]:
print(10+5)
print(10-5)
print(int(10/5))
print(10*5)
print(10%5)
print(10//3)

15
5
2
50
0
3

Bitwise Operators

In [13]:
#a=60, binary 0011 1100
#b=15, binary 0000 1111

print(a&b)
print(a|b)
print(a^b)
print(a<<b)
print(a>>b)

6
7
1
768
0

Application 2
Assignment Operators

In [14]:
a+=5 #Same As a = a+5
a-=5 #Same As a = a-5
a*=5 #Same As a = a*5
a/=5 #Same As a = a/5
a%=5 #Same As a = a%5

Logical Operators

In [15]:
k = True 
l = False 
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [16]:
print(k is l)
print(k is not l)

False
True

Control Structure
If Statement

In [17]:
v = 1
z = 1

if v<z:
  print("1 is less than 2")

elif Statement

In [18]:
if v<z:
  print("v is less than z")

elif v!=z:
  print("v is not z")

else Statement

In [19]:
number = int(input())

if number>0:
  print("Positive")

elif number<0:
  print("negative")

else:
  print("number is equal to zero")

3
Positive

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [21]:
age = int(input())

if age >= 18:
  print("You are qualifed to vote")
else:
  print("you are not qualified to vote")

18
You are qualifed to vote

Nested if...else

In [22]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

3

Loop Structure

In [23]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
Season=['rainy','sunny']
for x in week:
  for y in Season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

Break Statement

In [24]:
for x in week:
  print(x)
  if x == 'Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While Loop

In [25]:
i=1

while i<=5:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program thatdisplays numbers from 1 to 7

In [26]:
j=1
while j<=7:
  print(j)
  j+=1

1
2
3
4
5
6
7

Application 5 - Create a Python program that displays number 7 using while and break statement

In [27]:
j=1
while j<=7:
  j+=1
  if j == 7:
   print(j)

7